@charset "UTF-8";

body {
    background-color: #fffbde;
    width: 1000px;
}

.switch {
    padding: 8px;
    margin-left: 7px;
    border: 4px solid;
    text-decoration: none;
    color:white;
    background-color:blue;
    border-color: blue;
}

a:hover {
    border-color: #fffbde;
}

.self {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.help {
    text-align:center;
    max-width: 600px;
    margin: 0 auto;
}

.Tyui {
    padding: 5px;
    background-color:#ff3030;
}

ul {
    text-align:left;
}

.honbun {
    padding-top: 15px;
    width: 900px;
    margin: 0 auto;
    text-align: left;
}